// Main colors
$main-screen-bg: hsl(233, 47%, 7%);
$main-card-bg: hsl(244, 38%, 16%);
$main-white: hsl(0, 0%, 100%);
// $main-accent: hsl(277, 64%, 61%);

// Secondary colors
$secondary-white-1: hsla(0, 0%, 100%, 0.75);
$secondary-white-2: hsla(0, 0%, 100%, 0.6);

// Gradient colors
$gradient-1: #4158d0;
$gradient-2: #c850c0;
$gradient-3: #ffcc70;
